html,
body {
    /* Box-model */
    margin: 0;
    padding: 0;
}

body {
    /* Box-model */
    padding: 15px;
    /* Visual */
    background-color: #009688;
}

.layui-card {
    /* Visual */
    border-radius: 5px;
}

.layui-card-header {
    /* Visual */
    border-radius: 5px;
}

.layui-card-body {
    /* Visual */
    border-radius: 5px
}