html,
body {
    /* Box-model */
    margin: 0;
    padding: 0;
}

body {
    /* Box-model */
    padding: 15px;
    /* Visual */
    background-color: #c8e2ec;
}

.layui-card {
    /* Visual */
    border-radius: 5px;
}

.layui-card-header {
    /* Box-model */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-card-body {
    /* Visual */
    border-radius: 5px;
}

#form-add,
#form-edit {
    /* Box-model */
    padding-top: 20px;
    padding-right: 30px;
}