.layui-footer {
    /* Typography */
    text-align: center;
    font-size: 12px;
    /* Visual */
    background-color: #393D49;
}

.iconfont {
    /* Box-model */
    margin-right: 8px;
}

.layui-icon {
    /* Box-model */
    margin-right: 8px;
    margin-left: 20px;
}

iframe {
    /* Box-model */
    width: 100%;
    height: 100%;
}

.layui-body {
    /* Misc */
    overflow: hidden;
}

a {
    /* Misc */
    transition: none !important;
}

.userinfo {
    /* Box-model */
    height: 60px;
    /* Typography */
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    /* Misc */
    user-select: none;
}

.layui-nav-img {
    /* Box-model */
    width: 40px;
    height: 40px;
}

#welcome {
    /* Visual */
    color: rgba(255, 255, 255, .8);
}

.userinfo .avatar {
    /* Visual */
    background-color: rgba(204, 204, 204, 1);
    border: 1px solid #009688
}

.text-avatar {
    /* Position */
    position: relative;
    top: 4px;
    /* Box-model */
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    /* Typography */
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    /* Visual */
    background-color: #009688;
    border-radius: 50%;
}